/*----- Toggle Button -----*/
.toggle-nav {
	display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
	.menu {
	padding:10px 18px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	background:#303030;
	}
}

.menu ul {
	display:inline-block;
}

.menu li {
	margin:0px 50px 0px 0px;
	float:left;
	list-style:none;
	font-size:17px;
}

.menu li:last-child {
	margin-right:0px;
}

.menu a {
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	color:#777;
	transition:color linear 0.15s;
        text-decoration: none;

}

.menu a:hover, .menu .current-item a {
	text-decoration:none;
	color:#66a992;
}

/*----- Search -----*/
.search-form {
	float:right;
	display:inline-block;
}

.search-form input {
	width:200px;
	height:30px;
	padding:0px 8px;
	float:left;
	border-radius:2px 0px 0px 2px;
	font-size:13px;
    margin-top: 4%;
}

.search-form button {
	height:34px;
	padding:0px 7px;
	float:right;
	border-radius:0px 2px 2px 0px;
	background:#fb7211;
	font-size:13px;
	font-weight:600;
	text-shadow:0px 1px 0px rgba(0,0,0,0.3);
	color:#fff;
    margin-top: 4%;

}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
	.wrap {
		width:90%;
	}
}

@media screen and (max-width: 970px) {
	.search-form input {
		width:120px;
	}
}

@media screen and (max-width: 860px) {
	.menu {
		position:relative;
		display:inline-block;

	}

	.menu ul.active {
		display:none;
	}

	.menu ul {
		width:100%;
		position:absolute;
		top:120%;
		left:0px;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#303030;

	}

	.menu ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		left:22px;
		content:'';
		transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		border-bottom:7px solid #303030;
	}

	.menu li {
		margin:5px 0px 5px 0px;
		float:none;
		display:block;

	}

	.menu a {
		display:block;
        text-decoration: none;


	}

	.toggle-nav {
		padding:20px;
		float:left;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#303030;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:#777;
		font-size:20px;
		transition:color linear 0.15s;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#66a992;
            text-decoration: none;

	}

	.search-form {
		margin:12px 0px 0px 20px;
		float:left;
	}

	.search-form input {
		box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
	}
}
/*de box acher de tekst*/
    #box_achter_inhoud {
         background-color: #303030;
         width: 75%;
         float: left;
         margin-left: -2%;
    }

    #tekst_voor_box_links {
        margin: 30px 30px 30px 30px;
    }

    body {
        background-color: #fb7211;
        font-family: Arial;
    }

/* box aan de linker kant*/
    #box_links {
        background-color: #303030;
        width: 25%;
        float: right;
    }

    #row {
        display: flex;
     }
    H1 {
        font-family: arial;
    }

  /* dropdown */

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fb7211;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ff754e;}

.dropbtn {
    background-color: #303030;
    color: #777;
    border: none;
    transition: color linear 0.15s;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    text-decoration: none;

}


/* tekst */

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.block_title{
    text-decoration: none;
}

a {
    font-size: 25px;
}

#btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #fb7211;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}