h1{
  font-family: helvetica;
  color: white;
}

body{
  background-color: hsl(2, 57%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}

#box1{
    background-color:white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    border: solid;
    border-width: thick;
    padding: 5px;
    width: 25%;

}

#box4 {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    border: solid;
    border-width: thick;
    padding: 5px;
    text-align: inherit;
    background-color: lightcoral;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

#box2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    border: solid;
    border-width: thick;
    padding: 5px;
    text-align: inherit;
    background-color: white;
    color: black;
}

#box5 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    border: solid;
    border-width: thick;
    padding: 5px;
    text-align: inherit;
    background-color: white;
    color: black;
}

#box3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    border: solid;
    border-width: thick;
    padding: 5px;
    text-align: inherit;
    background-color: white;
    color: black;
}

.column {
    float: left;
    width: 33.33%;
    left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}


